{% extends '::base.html.twig' %}

{% block header %}

	<!-- Top Bar -->
	<div>
		<nav class="top-bar" data-topbar>

		  <ul class="title-area">
		    <li class="name">
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#">ALZHEIMER</a></li>
		  </ul>

		  <section class="top-bar-section">

		    <!-- Right Nav Section -->
		    <ul class="right">

		      <li class="has-form">
		      	<a class="button [secondary success alert]" href="{{ path('homepage') }}">Inicio</a>
		      </li>

		      <li>
		        <a href="{{ path('quienes_somos') }}">Quienes Somos</a>
		      </li>

		      <li class="has-dropdown">
		        <a href="#">Alzheimer</a>
		        <ul class="dropdown">
		          <li><a href="{{ path('demencia') }}">Que es la demencia</a></li>
		          <li><a href="{{ path('alzheimer') }}">Que es el Alzheimer</a></li>
		          <li><a href="{{ path('factores') }}">Factores de Riesgo</a></li>
		          <li><a href="{{ path('acudir') }}">A quien acudir</a></li>
		          <li><a href="{{ path('tratamientos') }}">Tratamientos</a></li>
		          <li><a href="{{ path('detectando_senales') }}">Detectando señales de alarma</a></li>
		          <li><a href="{{ path('preguntas') }}">Preguntas mas frecuentes</a></li>
		        </ul>
		      </li>

		      <li class="has-dropdown">
		        <a href="#">Vida con Alzheimer</a>
		        <ul class="dropdown">
		          <li><a href="{{ path('diagnostico') }}">Te diagnosticaron Alzheimer</a></li>
		          <li><a href="{{ path('edad_temprana') }}">Alzheimers en Edad Temprana</a></li>
		          <li><a href="{{ path('ninos_jovenes') }}">Los ninos y Jovenes conviviendo con Alzheimer</a></li>
		          <li><a href="{{ path('legales') }}">Situaciones Legales</a></li>
		          <li><a href="{{ path('seguridad') }}">Seguridad</a></li>
		        </ul>
		      </li>

			  <li class="has-dropdown">
			    <a href="#">Cuidadores</a>
			    <ul class="dropdown">
			      <li><a href="{{ path('vida_diaria') }}">Vida Diaria (Cuidados y Actividades en casa)</a></li>
			      <li><a href="{{ path('etapas') }}">Etapas y Comportamientos</a></li>
			      <li><a href="{{ path('opciones') }}">Opciones de cuidados</a></li>
			      <li><a href="{{ path('grupos') }}">Grupos de apoyo</a></li>
			    </ul>
			  </li>

			  <li class="has-dropdown">
			    <a href="#">Noticias y Eventos</a>
			    <ul class="dropdown">
			      <li><a href="{{ path('noticias_publicas') }}">Noticias</a></li>
			      <li><a href="#">Eventos</a></li>
			    </ul>
			  </li>

			  <li>
		        <a href="{{ path('contacto') }}">Contactos</a>
		      </li>

			  <li class="has-form">
			  	<a class="button alert" href="#">Ingresar</a>
			  </li>
			</ul>

		  </section>
		</nav>
	</div>

	<!-- Logo -->
	<div class="row">
	<br>
		<!--<div class="large-12 columns">
			<a href="#">
				<img src="{{ asset('bundles/portada/img/logo.png') }}">
			</a>
		</div>-->
	</div>

	<!-- Separator -->
	<div class="row">
		<div>
			<hr>
		</div>
	</div>

{% endblock %}

{% block footer %}

	<!-- Separator -->
	<div class="row">
		<div>
			<hr>
		</div>
	</div>
<div class="pie">
<div class="row" style=" text-align:center;">
	
		<div class="medium-10 columns"><br>
		<h5 style="color:#FFFFFF;">Copyright © 2014  Instituto Tecnológico de Mexicali</h5>
	  	<a href="https://www.facebook.com/alzheimerbaja" target="_blank">
	  	 <img id="image" title="Siguenos en Facebook!" src="{{ asset('bundles/portada/img/icons/webicon-facebook.png')}}">
	  	 </a>
		</div>

		
	</div><br>
</div>

{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/portada/css/foundation.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/portada/css/normalize.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/portada/css/estilos.css') }}" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/portada/js/vendor/jquery.js') }}"></script>
	<script src="{{ asset('bundles/portada/js/foundation.min.js') }}"></script>
	<script>
	$(document).foundation({
		orbit: {
			animation: 'fade',
			timer_speed: 10000,
			pause_on_hover: false,
			resume_on_mouseout: true
		}
	});
	</script>
{% endblock %}

