{% extends '::frontend.html.twig' %}

{% block body -%}

<div class="row">
	<div class="small-2 large-4 columns">
		<h2>Eventos Pasados</h2><br><br>
	</div><br><br><br>			
</div>

<div class="row">
		<div class="panel panel-body">
			<div id="noticia">
				<ul >
					{% for pasada in pasadas %}
					<li>			
						<div class="row">					
							<div class="small-6 columns">
								<a href="#" data-reveal-id="modal{{ pasada.id }}">
									{% if pasada.imagenPrim %}        
									<img class="portada" src="{{ asset('uploads/images/eventos/' ~ pasada.imagenPrim) }}" alt=""  />      
									{% else %}
									<img  class="portada" src="{{ asset('uploads/images/eventos/image-notfound.jpg') }}" alt="" />            
									{% endif %}
								</a>

							</div>
							<div class="small-6 columns">					
								<p class="lead"><a href="#" data-reveal-id="modal{{ pasada.id }}">{{ pasada.titulo }}</a>
								</p><hr />
								<p class="lead">	
									{{ pasada.fechaPub|date("d \\-\\ m  \\-\\ Y")}}<br>	
									{{pasada.descripcion}}
								</p>
								<a onclick="vermas()"data-reveal-id="modal{{ pasada.id }}">ver mas...</a>					
							</div>
						</div><hr>
						

						<!--Contenido del Modal -->
						<div id="modal{{ pasada.id }}" class="reveal-modal large" data-reveal>
							<div class="row">
								<div class="large-4 columns">
									{% if pasada.imagenPrim %}
									<img class="prim" src="{{ asset('uploads/images/eventos/' ~ pasada.imagenPrim) }}" alt=""  />      
									{% else %}
									<img src="{{ asset('uploads/images/eventos/image-notfound.jpg') }}" alt=""/>
									{% endif %} 
								</div>
								<div class="large-8 columns">
									<p class="lead">{{ pasada.titulo }}</p>	<hr>
									<h5>Dia del Evento:</h5>						
									<p>{{ pasada.fechaPub|date("d \\-\\ F  \\-\\ Y") }}</p>
									<p>{{ pasada.cuerpo| nl2br }}</p>
									<h5>Lugar:</h5>
									<p>{{ pasada.lugar}}</p>
									{% if pasada.imagenSec %}
									<img class="sec" src="{{ asset('uploads/images/eventos/' ~ pasada.imagenSec) }}" alt=""/>
									{% else %}
									<img src="{{ asset('uploads/images/eventos/image-notfound.jpg') }}" alt=""/>
									{% endif %} 
								</div>
							</div>
							<a class="close-reveal-modal">&#215;</a>
						</div>					
					</li>	

					{% endfor %}
				</ul>
			</div>
		</div>
		
		 {{ knp_pagination_render(pasadas) }}
</div>

<br>

{% endblock %}