{% extends '::frontend.html.twig' %}

{% block body -%}

<div class="row">
    <div class="large-12 columns">
        <h1>Eventos</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>Descripcion de la Noticia</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Cuerpo</th>
                    <td>{{ entity.cuerpo }}</td>
                </tr>
                <tr>
                    <th>Lugar</th>
                    <td>{{ entity.lugar }}</td>
                </tr>
                <tr>
                    <th>Fecha de Publicacion</th>
                    <td>{{ entity.fechaPub|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Fecha de Terminacion</th>
                    <td>{{ entity.fechaFin|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Fecha de Creacion</th>
                    <td>{{ entity.fechaCrea|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    
                    <td><ul class="small-block-grid-2">
                        <li><img src="{{ asset('uploads/images/eventos/') ~ entity.imagenPrim }}" /></li>
                        <li><img src="{{ asset('uploads/images/eventos/') ~ entity.imagenSec }}" /></li>                           
                        
                    </ul>
                </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            
            <a href="{{ path('eventos_index') }}">
                Regresar
            </a><br><br>
            
            
            <a href="{{ path('eventos_edit', { 'id': entity.id }) }}">
                Editar
            </a><br><br>
            
            {{ form(delete_form) }}
        </ul>
    </div>
</div>
{% endblock %}
