{% extends '::frontend.html.twig' %}

{% block body -%}

<div class="row">
	<div class="large-5 columns">
		<h1>Creaci&oacute;n de Usuarios</h1>
		<fieldset>
            <legend>Usuario</legend>
            {{ form_start(form, { 'action': path('usuario_new'), 'method': 'POST' }) }} 
                {{ form_label(form.nombre, 'Nombre') }}
                {{ form_widget(form.nombre) }}
                {{ form_label(form.a_paterno, 'Apellido Paterno') }}
                {{ form_widget(form.a_paterno) }}
                {{ form_label(form.a_materno, 'Apellido Materno') }}
                {{ form_widget(form.a_materno) }}
                {{ form_label(form.email, 'Correo electrónico') }}
                {{ form_widget(form.email) }}
                {{ form_label(form.password, 'Contraseña') }}
                {{ form_widget(form.password) }}
                {{ form_label(form.foto, 'Foto') }}
                {{ form_widget(form.foto) }}
                {{ form_errors(form.foto) }}
                {{ form_label(form.contacto, 'Contacto') }}
                {{ form_widget(form.contacto) }}
                {{ form_label(form.grupo_ID, 'Grupo') }}
                {{ form_widget(form.grupo_ID) }}
                {{ form_label(form.roles, 'roles') }}
                {{ form_widget(form.roles) }}
                 <br><br>
            {{ form_end(form) }}
        </fieldset>
		<ul class="record_actions">
			
				<a href="{{ path('menu_usuario') }}">
					Regresar
				</a>
			
		</ul>
	</div>
</div>

{% endblock %}
