{% extends '::frontend.html.twig' %}

{% block body %}

<!--Banner-->
<div class="row">
  <div class="large-12 columns">
    <ul id="banner" data-orbit>
      {% for imagen in banner %}

      {% if imagen.imagenSec %} 
      <li><a href="{{ path('eventos_publicos') }}"><img src="{{asset('uploads/images/eventos/' ~ imagen.imagenSec )}}">        
      {% else %}
        <a href="{{ path('eventos_publicos') }}"><img src="{{asset('uploads/images/eventos/' ~ imagen.imagenPrim)}}">
      {% endif %}

        <div class="orbit-caption" ><b>{{imagen.titulo}}</b></div>
      </a>  

    </li>
    {% endfor %}

    {% for imagenes in imagen %}
     <a href="{{ path('eventos_publicos') }}"><img src="{{asset('uploads/images/imagen/' ~ imagenes.img )}}"></a>
    {% endfor %}

  </ul>
</div>
</div>

<div class="row">
  <div class="large-12 columns">

    <h1 class="title" style="color:#009966;">ALZHEIMER</h1>

    <h5>
      <strong>
        Asociación de Alzheimer de Baja California
      </strong>
    </h5>

    <br/>
    <p>
      Organizacion Civil fundada en Mexicali, BC por médicos especialistas y personas con la vivencia de un familiar que ha padecido la enfermedad unidos para apoyar a la comunidad.
    </p>
    <p>
      Comunicaremos a los enfermos y sus familiares las mejores opciones en el tratamiento y cuidado digno del enfermo con Alzheimer o enfermedad similar. Promoveremos y asesoraremos en la integración de asociaciones para cada municipio de Baja California, teniendo presencia a nivel Nacional e Internacional.
    </p>
  </div>
</div>
{% endblock %}
