{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
  <div class="large-12 columns">
    <ul class="orbit-container" data-orbit>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh1.jpg') }}" alt="slide 1" />
        <div class="orbit-caption">
          Image Number 1.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh2.jpg') }}" alt="slide 2" />
        <div class="orbit-caption">
          Image Number 2.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh3.jpg') }}" alt="slide 3" />
        <div class="orbit-caption">
          Image Number 3.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh4.jpg') }}" alt="slide 4" />
        <div class="orbit-caption">
          Image Number 4.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh5.jpg') }}" alt="slide 5" />
        <div class="orbit-caption">
          Image Number 5.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh6.jpg') }}" alt="slide 6" />
        <div class="orbit-caption">
          Image Number 6.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh7.jpg') }}" alt="slide 7" />
        <div class="orbit-caption">
          Image Number 7.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh8.jpg') }}" alt="slide 8" />
        <div class="orbit-caption">
          Image Number 8.
        </div>
      </li>
      <li>
        <img src="{{ asset('bundles/portada/img/Slides/alzh9.jpg') }}" alt="slide 9" />
        <div class="orbit-caption">
          Image Number 9.
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <h1 class="title" style="color:#009966;">ALZHEIMER</h1>

    <h5>
      <strong>
        Asociación de Alzheimer de Baja California
      </strong>
    </h5>

    <br/>
    <p>
      Organizacion Civil fundada en Mexicali, BC por médicos especialistas y personas con la vivencia de un familiar que ha padecido la enfermedad unidos para apoyar a la comunidad.
    </p>
    <p>
      Comunicaremos a los enfermos y sus familiares las mejores opciones en el tratamiento y cuidado digno del enfermo con Alzheimer o enfermedad similar. Promoveremos y asesoraremos en la integración de asociaciones para cada municipio de Baja California, teniendo presencia a nivel Nacional e Internacional.
    </p>
  </div>
</div>
{% endblock %}
