{% extends '::frontend.html.twig' %}

{% block body -%}
<div class="row">
	<div class="small-2 large-4 columns">
		<h2>Noticias</h2><br><br>
	</div><br><br><br>			
</div>

<!--Noticias-->
<div class="row">
		<div class="panel panel-body">
			<div id="noticia">
				<ul>
					{% for entity in entities %}
					<li>
						<div class="row">					
							<div class="small-6 columns">
								<a href="#" data-reveal-id="modal{{ entity.id }}">
									{% if entity.imagenPrim %}        
									<img class="portada" src="{{ asset('uploads/images/noticias/' ~ entity.imagenPrim) }}" alt=""  />      
									{% else %}
									<img class="portada" src="{{ asset('uploads/images/noticias/image-notfound.jpg') }}" alt="" />       
									{% endif %}
								</a>

							</div>
							<div class="small-6 columns">					
								<p class="lead"><a href="#" data-reveal-id="modal{{ entity.id }}">{{ entity.titulo }}</a><br>
									{{ entity.fecha|date("d \\-\\ m  \\-\\ Y")}}<br>	
								</p><hr />
								
								<a onclick="vermas()"data-reveal-id="modal{{ entity.id }}">ver noticia completa...</a>					
							</div>
						</div><hr>

						<div id="modal{{ entity.id }}" class="reveal-modal large" data-reveal>
							<div class="row">
								<div class="large-4 columns">
									{% if entity.imagenPrim %}
									<img class="prim" src="{{ asset('uploads/images/noticias/' ~ entity.imagenPrim) }}" alt=""  />      
									{% else %}
									<img class="prim" src="{{ asset('uploads/images/noticias/image-notfound.jpg') }}" alt=""/>
									{% endif %} 
								</div>
								<div class="large-8 columns">
									<p class="lead">{{ entity.titulo }}</p>	<hr>								
									<p>{{ entity.cuerpo| nl2br }}</p>									
									{% if entity.imagenSec %}
									<img class="sec" src="{{ asset('uploads/images/noticias/' ~ entity.imagenSec) }}" alt=""/>
									{% else %}
									<img class="sec" src="{{ asset('uploads/images/noticias/image-notfound.jpg') }}" alt=""/>
									{% endif %} 
								</div>
							</div>
							<a class="close-reveal-modal">&#215;</a>
						</div>	
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
