{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

  <div class="small-4 large-4 columns"><h1>Bienvenido: {{app.user.nombre}} </h1></div>
</div>


<div class="row">
	<div class="large-9 columns">
		<ul class="breadcrumbs">
		  <li class="back"><a href="{{ path('admin') }}">Administraci&oacute;n</a></li>


	    <!-- {% if is_granted('ROLE_ADMIN') %}-->
		  <li class="back"><a href="{{ path('menu_usuario') }}">Usuarios</a></li>
		  <li class="back"><a href="{{ path('menu_evento') }}">Crear Evento</a></li>
		<! {% endif %}-->

		  <li class="back"><a href="{{ path('menu_noticia') }}">Crear Noticia</a></li>		  
		  <li class="back"><a href="{{ path('imagen_index') }}">Cargar Imágen</a></li>		
		  <li class="back"><a href="{{ path('admin_logout') }}">Cerrar Sesi&oacute;n</a></li>  
		</ul>


	</div>


</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>





{% endblock %}
